:root {
  --vp-c-brand-1: rgb(52, 118, 246);
  --vp-c-brand-2: rgb(72, 138, 255);
  --vp-c-brand-3: rgb(92, 158, 255);
  --vp-c-brand-soft: rgba(52, 118, 246, 0.14);
}

.dark {
  --vp-c-brand-1: rgb(72, 138, 255);
  --vp-c-brand-2: rgb(52, 118, 246);
  --vp-c-brand-3: rgb(92, 158, 255);
  --vp-c-brand-soft: rgba(52, 118, 246, 0.16);
}
